<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="phpAgent.TC_004_SearchHotelsByCity"/>
      <class name="phpAgent.TC_003_TestLinks_Hotels_Flights_Trours_Blog_Visa_Offers"/>
      <class name="phpAgent.TC_001_ValidandInvalidLoginTest"/>
      <class name="phpAdmin.BaseClass"/>
      <class name="phpAdmin.TC_001_ValidandInvalidLoginTest"/>
      <class name="phpAgent.TC_005_ChangeUSDtoINR"/>
      <class name="phpAdmin.TC_002_DisplayBookingInvoiceforPaidBooking"/>
      <class name="phpAgent.BaseClassTwo"/>
      <class name="phpAgent.TC_002_TestlinksMybookings_MyProfile_Logout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
